.button {
    background-color: #121212;
    border-radius: 35px;
    color: #F0F0F0;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: 200px;
    display: block;
    margin: 40px auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 0.3s;
}

.img-hov {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 16px;
}

.img-hov * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.img-hov img {
    display: flex;
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.img-hov figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-hov h4 {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
}

.img-hov:hover > img,
.img-hov.hover > img {
    opacity: 0.1;
}

.img-hov:hover h4,
.img-hov.hover h4 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.ThumbList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ThumbList .ThumbNail {
    margin: 24px;
    box-shadow: 15px 15px 0 #121212;
    border: none;
}